<!DOCTYPE html>
<html>
  <head>
    <title>Kanofbliss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="topNav">
  <%= link_to "Home", "/" %>
  <%= link_to "Bud", "/budPage" %>
  <%= link_to "Carts", "/cartsPage" %>
  <%= link_to "Extracts", "/extractsPage" %>
  <%= link_to "Glass", "/glassPage" %>
  <%= link_to "THC vs CBD", "/THCvsCBD" %>
</div>

    <%= yield %>
  </body>
</html>
